body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: #141e30;
	/* fallback for old browsers */
	/* background: -webkit-linear-gradient(#141e30,
			#243b55); */
	/* Chrome 10-25, Safari 5.1-6 */
	/* background: linear-gradient(#141e30,
			#243b55); */
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.delete {
	background-color: #f34040 !important;
}

.load,
.save {
	background-color: #25b5f8 !important;
}

.swal-text {
	text-align: center;
}

.jumbotron {
	background: transparent !important;
}

.icon-large {
	font-size: 24px;
	margin-bottom: 1px;
}

.jumbotron-fluid {
	padding: 20px;
	margin-bottom: -5px;
}

.spacer {
	flex: 1;
}

.title {
	font-family: "Roboto Slab", serif;
}

.swal-overlay {
	background-color: rgba(0, 0, 0, .7)
}

/* for bootswatch */

.btn {
	border: 1px solid transparent !important;
}

.btn-outline-primary {
	border-color: #2196F3 !important;
}

.btn-outline-danger {
	border-color: #e51c23 !important;
}

.btn-outline-success {
	border-color: #4CAF50 !important;
}

.btn-outline-light {
	border-color: #eee !important;
}

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
body::-webkit-scrollbar {
	background: linear-gradient(#141e30,
			#243b55);
	width: 16px
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
	background: linear-gradient(#141e30,
			#243b55);
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
	background-color: #babac0;
	border-radius: 16px;
	border: 4px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
	display: none
}

@media screen and (max-width: 600px) {
	.alert {
		font-size: 12px;
		cursor: pointer;
	}

	.delete-entry {
		font-size: 10px;
	}

	#chance,
	#count {
		font-size: 20px;
	}

	#winner,
	#total-entries {
		font-size: 30px;
	}
}